<nav style = 'background-color:#D6AD60; width:100%'>
        <a style='color:#122620; text-decoration: none; padding-right:5px', href="/">Home  </a> 
    <a style='color:#122620;text-decoration: none; padding-right:5px', href="/login">Login  </a> 
    <a style='color:#122620;text-decoration: none; padding-right:5px', href="/register">Register  </a>
</nav> 