<nav style = 'background-color:#D6AD60; width:100%'>
        <a  style='color:#122620;text-decoration: none; padding-right:5px', href="/">Home  </a> 
    <a  style='color:#122620;text-decoration: none;padding-right:5px', href="/history/<%=userId %>">Profile</a>
    <a  style='color:#122620;text-decoration: none;padding-right:5px; width:100%', href="/?logout=true">Log Out</a>
</nav> 