<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">git 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>History</title>
</head>
<body>
    <%- include('../parsials/navbarafter.ejs') %>
    <h1>History</h1>
    
</body>
</html>
