<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <%- include('../parsials/navbarbefore.ejs') %>
    <div tag= 'homeSearchBar' style='width: 100%; text-align: center; padding-top:100px'>
        <form action = '/statusreport', method ='POST' style ='width: 100%' name='AWB'>
            <label for='AWB' style='display: inline-block; margin:0 auto 0 auto'>Input your AWB here: </label>
            <input type='text' style='width: 250px; height: 30px; display:inline-block' name='AWB' >
            <button type="submit">submit</button>
            <button type="button">QR</button>
        </form>
    </div>
    
</body>
</html>