<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
        <% if(isLogin){ %>
            <%- include('../parsials/navbarafter.ejs') %>
        <% }else{ %>
            <%- include('../parsials/navbarbefore.ejs') %>
        <% } %>
    <div tag= 'homeSearchBar' style='width: 100%; text-align: center; padding-top:100px'>
        <form action = '/statusreport', method ='POST' style ='width: 100%' name='AWB'>
            <% if(error){ %>
                <input type='text' style='width: 250px; height: 30px; display:inline-block' name='AWB' placeholder="<%=error %>" >
            <% }else{ %>
                <input type='text' style='width: 250px; height: 30px; display:inline-block' name='AWB' placeholder="Input your AWB here" >
            <% } %>
            <button type="submit">submit</button>
            <button type="button">QR</button>
        </form>
   
            
    </div>
    
</body>
</html>