<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <%- include('../parsials/navbarbefore.ejs') %>
    <div tag= 'homeSearchBar' style='width: 100%; text-align: center; padding-top:100px'>
            <form action = '/login', method ='POST' style ='width: 100%' name='AWB'>
                <div style='width: 100%; display: inline-block'>
                        <label for='username' style='display: inline-block; margin:0 auto 0 auto'>Username:</label>
                        <input type='text' style='width: 200px; display:inline-block' name='username' >
                </div>
                <div style='width: 100%; display: inline-block'>
                    <label for='password' style='display: inline-block; margin:0 auto 0 auto'>Password:</label>
                    <input type='password' style='width: 200px; display:inline-block' name='password' >
                </div>
                <button type="submit">login</button>
            </form>
        </div>
</body>
</html>