<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
</head>

<body>

    <div>
        <h2>Register disini</h2>
        <br>
    </div>
    
    <div>
        <form action='/register' method='POST'>
            <label for='firstName'>First Name: </label><br>
            <input type='text' name='firstName'> <br><br>
            <label for='lastName'>Last Name: </label><br>
            <input type='text' name='lastName'> <br><br>
            <label for='userName'>User Name: </label><br>
            <input type='text' name='userName'> <br><br>
            <label for='passWord'>Password: </label><br>
            <input type='password' name='passWord'><br><br>
            <button type='submit'>Register</button><br>
        </form>
    </div>
    
</body>
</html>